

<span>
    <input id="SwitchFilter" type="checkbox" data-toggle="collapse" data-target="#filter" aria-expanded="true" aria-controls="filter" style="display:none;"/>
    <label class="float-btn" for="SwitchFilter">
        <i class="fa-solid fa-filter-circle-xmark"></i>
    </label>
</span>

<div id="filter" class="collapse show">
    <div class="input-group">
        <input id="searchInput" class="form-control" inputmode="search" type="search" placeholder="曲名" />
        <span class="input-group-btn">
            <button class="btn" id="search"><i class="fa-solid fa-search"></i></button>
        </span>
    </div>
    <span>
        <input type="checkbox" class="custom-control-input filter-tag" id="SwitchStarish">
        <label class="filter-label" for="SwitchStarish">ST☆RISH</label>
    </span>
    <span>
        <input type="checkbox" class="custom-control-input filter-tag" id="SwitchQN">
        <label class="filter-label" for="SwitchQN">QUARTET NIGHT</label>
    </span>
    <span>
        <input type="checkbox" class="custom-control-input filter-tag" id="SwitchHevens">
        <label class="filter-label" for="SwitchHevens">HE★VENS</label>
    </span>
    <span>
        <input type="checkbox" class="custom-control-input filter-tag" id="SwitchTheme">
        <label class="filter-label" for="SwitchTheme">主題歌</label>
    </span>
    <span>
        <input type="checkbox" class="custom-control-input filter-tag" id="SwitchOtoya">
        <label class="filter-label" for="SwitchOtoya">一十木音也</label>
    </span>
    <span>
        <input type="checkbox" class="custom-control-input filter-tag" id="SwitchMasato">
        <label class="filter-label" for="SwitchMasato">聖川真斗</label>
    </span>
    <span>
        <input type="checkbox" class="custom-control-input filter-tag" id="SwitchNatsuki">
        <label class="filter-label" for="SwitchNatsuki">四ノ宮那月</label>
    </span>
    <span>
        <input type="checkbox" class="custom-control-input filter-tag" id="SwitchTokiya">
        <label class="filter-label" for="SwitchTokiya">一ノ瀬トキヤ</label>
    </span>
    <span>
        <input type="checkbox" class="custom-control-input filter-tag" id="SwitchRen">
        <label class="filter-label" for="SwitchRen">神宮寺レン</label>
    </span>
    <span>
        <input type="checkbox" class="custom-control-input filter-tag" id="SwitchSho">
        <label class="filter-label" for="SwitchSho">来栖翔</label>
    </span>
    <span>
        <input type="checkbox" class="custom-control-input filter-tag" id="SwitchCecil">
        <label class="filter-label" for="SwitchCecil">愛島セシル</label>
    </span>
    <span>
        <input type="checkbox" class="custom-control-input filter-tag" id="SwitchReiji">
        <label class="filter-label" for="SwitchReiji">寿嶺二</label>
    </span>
    <span>
        <input type="checkbox" class="custom-control-input filter-tag" id="SwitchRanmaru">
        <label class="filter-label" for="SwitchRanmaru">黒崎蘭丸</label>
    </span>
    <span>
        <input type="checkbox" class="custom-control-input filter-tag" id="SwitchAi">
        <label class="filter-label" for="SwitchAi">美風藍</label>
    </span>
    <span>
        <input type="checkbox" class="custom-control-input filter-tag" id="SwitchCamus">
        <label class="filter-label" for="SwitchCamus">カミュ</label>
    </span>
    <span>
        <input type="checkbox" class="custom-control-input filter-tag" id="SwitchEiichi">
        <label class="filter-label" for="SwitchEiichi">鳳瑛一</label>
    </span>
    <span>
        <input type="checkbox" class="custom-control-input filter-tag" id="SwitchKira">
        <label class="filter-label" for="SwitchKira">皇綺羅</label>
    </span>
    <span>
        <input type="checkbox" class="custom-control-input filter-tag" id="SwitchNagi">
        <label class="filter-label" for="SwitchNagi">帝ナギ</label>
    </span>
    <span>
        <input type="checkbox" class="custom-control-input filter-tag" id="SwitchEiji">
        <label class="filter-label" for="SwitchEiji">鳳瑛二</label>
    </span>
    <span>
        <input type="checkbox" class="custom-control-input filter-tag" id="SwitchVan">
        <label class="filter-label" for="SwitchVan">桐生院ヴァン</label>
    </span>
    <span>
        <input type="checkbox" class="custom-control-input filter-tag" id="SwitchYamato">
        <label class="filter-label" for="SwitchYamato">日向大和</label>
    </span>
    <span>
        <input type="checkbox" class="custom-control-input filter-tag" id="SwitchShion">
        <label class="filter-label" for="SwitchShion">天草シオン</label>
    </span>
</div>